
*{

   margin: 0;
}
.container{

    height:170px;
    width:200px;
    text-align:center;
    padding:20px;
    display: inline-block;
    margin-top:50px;    
    font-family:sans-serif;
    
 }

 img{
    
    margin-top:10px;
    width:200px;
    height:200px;
 }

 button{

    width:200px;
    height:30px;
    
 }

 #header{

   height:50px;
   background-color:whitesmoke;
   color:white;
   font-family: sans-serif;
   padding:30px;
   color:black;

 }

#btn{

   margin-left:1500px;
   margin-top:2px;
}


section{

   font-size:25px;
   margin-top:30px;  
   font-family:sans-serif;
   padding:40px; 
   
}
.btn{

width:80px;

}